
.linkContainer {
    position: relative; 
    display: inline;
    padding-bottom: 0.5rem;

    .link {
        @apply text-purple-500;
    }

    .linkCard {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        opacity: 0;
        pointer-events: none;
        transition: all .3s;
    }

    &:hover .linkCard {
        top: 100%;
        opacity: 1;
        pointer-events: auto;
    }
}